.container{
    max-width: 400px;
    height: 100vh;
    background-color: var(--sidebar-background);
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem;
    border-right: 2px solid var(--line-color);
    z-index: 2;
    overflow-y: auto;
}



.title{
    font-size: 2.25rem;
    line-height: 1.22222;
    letter-spacing: 0.2px;
    font-weight: 700;
    margin: 10px 0px;
    color: rgb(243, 246, 249);
    text-align: center;
}

.closeButton{
    background-color: var(--item-background);
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container{
        position: absolute;
        top: 0;
        left: 0;
    }
}